<!DOCTYPE html>
<html>
  <head>
    <title>React on Rails TRIAL</title>
    <%= csrf_meta_tags %>
  </head>

  <body style="margin: 0px;">
    <%= yield %>
    <%= javascript_pack_tag 'bundle' %>
  </body>
</html>
